@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#header {
	padding: 15px 20px;
}

#nav {
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	overflow: hidden;
	list-style: none;
}

#nav>li {
	float: left;
	padding: 5px 20px;
}

footer {
	text-align: center;
	border: 1px solid #DDD;
	padding: 20px 0;
	margin-top: 10px;
}