<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js index</title>
    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 상용버전, 속도와 용량이 최적화됨. -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <style>
        div {
            border: 3px solid #DDD;
            padding: 20px;
            margin: 15px 10px;
            box-shadow: 3px 3px 2px 1px rgba(25, 25, 25, .1);
        }
    </style>

</head>

<body>

    <div id="app-1">
        {{message}}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            위로 마우스를 올리면 종적으로 바인딩 된 title 을 볼 수 있습니다.
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">
            이 영역의 메시지를 볼 수 있다.
        </p>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }} </p>
        <button v-on:click="reverseMessage">메시지 뒤집기</button>
    </div>

    <div id="app-6">
        <p> {{ message }} </p>
        <input type="text" v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <todo-item 
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>


    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li> {{ todo.text }} </li>'
        })

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                ]
            }
        })
    </script>

    <script>
        var app = new Vue({
            el: '#app-1',
            data: {
                message: 'Hello!! Vue.js'
            }
        })

        var app1 = new Vue({
            el: '#app-2',
            data: {
                message: '이 페이지는 ' + new Date() + '에 로드되었습니다.'
            }
        })

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: '첫 번째 할일' },
                    { text: '두 번째 할일' },
                    { text: '세 번째 할일' }
                ]
            }
        })

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: '안녕하시오~ Vue.js라 하오~'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Vue.js이옵나이다~'
            }
        })
    </script>

</body>

</html>